<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="flex-center">
        <div class="card">
            <h1 style="margin-bottom: 2rem; text-align: center; color: var(--accent-color);">Login</h1>
            
            <% if (locals.error) { %>
                <div class="alert-error">
                    <%= error %>
                </div>
            <% } %>
            <form action="/login" method="POST" class="flex-col">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" name="email" required placeholder="someone@something.com">
                </div>
                
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" required placeholder="******">
                </div>

                <button type="submit" class="btn">Sign In</button>
            </form>

            <div style="margin-top: 1.5rem; text-align: center; font-size: 0.9rem;">
                <p>New here? <a href="/register">Create an Account</a></p>
            </div>
        </div>
    </div>
</body>
</html>